/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/pink-bluegrey.css";
* {
    Margin: 0xp;
    padding: 0px;
    position: relative;
}

html,
body {
    width: 100vw;
    height: 100vh;
    background-color: rgb(58, 122, 151)
}
.row-one{
    background-color: rgb(90, 139, 161);
}
.main-container {
    display: grid;
    height: 100%;
    grid-template-rows: 1fr 12fr 1fr; 
}

.row-one, 
.row-two, 
.row-three {
    display: grid;
    grid-template-columns: 1fr 5fr 2fr;
    height: 100%;
    width: 100%;
  }

.row-two {
    
}

.row-three {
    background-color: rgb(90, 139, 161);

}

.container-padding {
    margin: 12px;
    border: 1px dashed #e7ff75;
}   