.row-one {
    display: grid;
    grid-template-columns: 1fr 5fr 2fr;
    height: 100%;
    width: 100%;
  }
.nav-button {
    margin-right: 10px;
}
.toolbar {
    height: 100%;
   }
   .nopadding {
       padding: 0px;
   }
